<div class="card--client-list">
  <div class="row">
    <div class="col col-right">
      <button class="btn btn-warning" (click)="showAddClient()">Add</button>
    </div>
  </div>
  <div class="table-client-list">
    <table class="table table-framed table-wrap-text">
      <thead>
        <tr>
          <th><input type="checkbox" [(ngModel)]="selectAll" (change)="changeAll(selectAll)" /></th>
          <th>#</th>
          <th (click)="sortTable('FirstName')">
            <i *ngIf="this.typeOrderBoolean==false && this.selectSort=='FirstName'" class="icofont icofont-caret-up"></i>
            <i *ngIf="this.typeOrderBoolean && this.selectSort=='FirstName'" class="icofont icofont-caret-down"></i>
            First Name</th>
          <th (click)="sortTable('SurName')">
            <i *ngIf="this.typeOrderBoolean==false && this.selectSort=='SurName'" class="icofont icofont-caret-up"></i>
            <i *ngIf="this.typeOrderBoolean && this.selectSort=='SurName'" class="icofont icofont-caret-down"></i>
            Last Name</th>
          <th (click)="sortTable('Email')">
            <i *ngIf="this.typeOrderBoolean==false && this.selectSort=='Email'" class="icofont icofont-caret-up"></i>
            <i *ngIf="this.typeOrderBoolean && this.selectSort=='Email'" class="icofont icofont-caret-down"></i>
            Email</th>
          <th>Status</th>
          <th>Invited Code</th>
          <th (click)="sortTable('createdAt')">
            <i *ngIf="this.typeOrderBoolean==false && this.selectSort=='createdAt'" class="icofont icofont-caret-up"></i>
            <i *ngIf="this.typeOrderBoolean && this.selectSort=='createdAt'" class="icofont icofont-caret-down"></i>
            Date Joined</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mentee of listMentee;let i = index" class="client">
          <td><input type="checkbox" [(ngModel)]="listMentee.checked" (change)="changeOne()" /></td>
          <td (click)="goToClientInfo(mentee.Id)" class="cursor">
            {{i+1}}
          </td>
          <td class="cursor" (click)="goToClientInfo(mentee.Id)">
            {{mentee.FirstName}}
          </td>
          <td class="cursor" (click)="goToClientInfo(mentee.Id)">
            {{mentee.SurName}}
          </td>
          <td>{{mentee.Email}}</td>
          <td>{{mentee.Status === 'deactive'? 'inactivate':listMentee.Status}}</td>
          <td>{{mentee.VerifyCode}}</td>
          <td>{{mentee.createdAt | date: 'dd/MM/yyyy'}}</td>
          <td>
            <button class="btn btn-danger btn-custom" (click)="delete(mentee.Id)"> <i class="icofont icofont-bin"></i></button>
            <button *ngIf="mentee.Type =='Invite'" class="btn btn-warning btn-custom"><i class="fa fa-paper-plane-o"
                aria-hidden="true" (click)="resendCode(mentee.Id)"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalItem" [pageSize]="limit" [(page)]="page"
    [maxSize]="5" [boundaryLinks]="true" (pageChange)="onChangePage($event)"></ngb-pagination>
</div>
<!-- modal add mentee-->
<app-modal-basic #modalAddMentee>
  <div class="app-modal-header">
    <h4 class="modal-title">Add client</h4>
    <button type="button" class="close basic-close" (click)="closeFormAddMentee()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="container form-add-client">
      <form class="form" [formGroup]="addClientForm">
        <div class="row">
          <label class="col-md-3 col-form-label">First name:</label>
          <div class="col-md-9">
            <div class="input-group">
              <input type="text" class="form-control" formControlName="firstName" placeholder="First name">
            </div>
          </div>
          <div class="col-md-9">
            <p class="error-text" *ngIf="addClientForm.controls.firstName.touched && !addClientForm.controls.firstName.valid">This
              field is required.</p>
          </div>
        </div>
        <div class="row">
          <label class="col-md-3 col-form-label">Surname:</label>
          <div class="col-md-9">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Surname" formControlName="surName">
            </div>
          </div>
          <div class="col-md-9">
            <p class="error-text" *ngIf="addClientForm.controls.surName.touched && !addClientForm.controls.surName.valid">This
              field is required.</p>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">Gender:</label>
          <div class="col-md-9">
            <div class="form-radio">
              <div class="radio radiofill radio-primary radio-inline">
                <label>
                  <input type="radio" value="male" checked="checked" formControlName="gender">
                  <i class="helper"></i>Male
                </label>
              </div>
              <div class="radio radiofill radio-primary radio-inline">
                <label>
                  <input type="radio" value="female" formControlName="gender">
                  <i class="helper"></i>Female
                </label>
              </div>
            </div>
            <div class="messages text-danger" *ngIf="addClientForm.controls.gender.errors?.required && addClientForm.controls.gender.touched">Member
              can't be blank</div>
          </div>
        </div>
        <div class="row">
          <label class="col-md-3 col-form-label">Email:</label>
          <div class="col-md-9">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="abc@gmail.com" formControlName="email">
            </div>
          </div>
          <div class="col-md-9">
            <p class="error-text" *ngIf="addClientForm.hasError('email', 'email') && addClientForm.get('email').touched">
              Email is invalid.
            </p>
          </div>
        </div>
        <div class="row">
          <label class="col-md-3 col-form-label">Confirm email:</label>
          <div class="col-md-9">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="abc@gmail.com" formControlName="confirmEmail">
            </div>
          </div>
          <div class="col-md-9">
            <p *ngIf="addClientForm.controls.confirmEmail.touched && !addClientForm.controls.confirmEmail.valid" class="error-text">
              {{ 'Confirm email is required' }}
            </p>
          </div>
          <div class="col-sm-8 col-lg-10">
            <p *ngIf="addClientForm.controls.confirmEmail.touched && addClientForm.errors?.mismatchedEmail && addClientForm.controls.confirmEmail.valid "
              class="error-text">
              {{ "Email doesn't match" }}
            </p>
          </div>
        </div>
        <div class="row">
          <label class="col-md-3 col-form-label">Password:</label>
          <div class="col-md-9">
            <div class="input-group">
              <input type="password" class="form-control" formControlName="password">
            </div>
          </div>
          <div class="col-md-9">
            <p class="error-text" *ngIf="addClientForm.controls.password.touched && !addClientForm.controls.password.valid">This
              field is required.</p>
          </div>
        </div>
        <div class="row">
          <label class="col-md-3 col-form-label">Confirm password:</label>
          <div class="col-md-9">
            <div class="input-group">
              <input type="password" class="form-control" formControlName="confirmPassword">
            </div>
          </div>
          <div class="col-md-9">
            <p *ngIf="addClientForm.controls.confirmPassword.valid && addClientForm.errors?.mismatchedPassword" class="error-text">
              Passwords don't match
            </p>
          </div>
          <div class="col-md-9">
            <p *ngIf="addClientForm.controls.confirmPassword.touched && !addClientForm.controls.confirmPassword.valid"
              class="error-text">
              Confirm password is required
            </p>
          </div>
        </div>

        <div class="row">
          <label class="col-md-3 col-form-label">Date of Birth:</label>
          <div class="col-md-9">
            <div class="input-group">
              <input type="date" class="form-control" formControlName="dateOfBirth">
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-md-3 col-form-label">Contact number:</label>
          <div class="col-md-9">
            <div class="input-group">
              <input type="text" class="form-control" [textMask]="{mask: mask,guide:false}" placeholder="123456789" formControlName="contactNumber">
            </div>
          </div>
        </div>

        <div class="row">
          <label class="col-md-3 col-form-label">Notes:</label>
          <div class="col-md-9">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="abc" formControlName="note">
            </div>
          </div>
        </div>
        <div class="app-modal-footer">
          <button type="button" class="btn btn-default ripple" (click)="closeFormAddMentee()">Close</button>
          <button type="button" class="btn btn-danger ripple light" (click)="addNewMentee()">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</app-modal-basic>
<app-modal-basic #modalDelete>
  <div class="app-modal-header">
    <h4 class="modal-title">Confirm</h4>
    <button type="button" class="close basic-close" (click)="modalDelete.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <p>{{deleteFlag?.Email}}</p>
    <p>All data of this client will be deleted. Are you sure you want to delete this client?</p>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default ripple" (click)="modalDelete.hide()">Close</button>
    <button type="button" class="btn btn-danger ripple light" (click)="deleteMentee()">Delete</button>
  </div>
</app-modal-basic>
<toast #toast></toast>