.card--client-list {
  padding: 15px;
  .col-right{
    margin-bottom: 10px;
    text-align: right;
  }
  .btn {
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
  }
  table {
    th, td {
      text-align: center;
    }
  }
}
.error-text { 
  color: red;
}
.app-modal-footer {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  button {
    min-width: 100px;
    margin: 0 5px;
  }
}

.form-add-client { 
  overflow-y: auto;
  max-height: 600px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.client .cursor{
  cursor: pointer;
}