<div class="card-mentor-detail">
  <div class="col-sm-8">
    <form class="form" [formGroup]="mentorInfoForm">
      <div class="row">
        <div class="col-sm-12">
          <label>Name</label>
          <div class="row">
            <div class="col-sm-6">
              <input class="form-control" formControlName="FirstName" placeholder="First name" />
            </div>
            <div class="col-sm-6">
              <input class="form-control" formControlName="SurName" placeholder="Last name" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label>Email</label>
          <div class="col-xs-12">
            <input class="form-control" formControlName="Email" />
          </div>
        </div>
        <div class="col-sm-6">
          <label>Contact Number</label>
          <div class="col-xs-12">
            <input class="form-control" formControlName="ContactNumber" />
          </div>
        </div>
      </div>
      <div class="row row-custom">
        <button class="btn btn-warning btn--form" (click)="modalChangePassword.show()">Change password</button>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label>Gender</label>
          <div class="col-xs-12">
            <select class="form-control" formControlName="Gender">
              <option [ngValue]="false">Male</option>
              <option [ngValue]="true">Female</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <label>Date of Birth</label>
          <div class="col-xs-12">
            <input class="form-control" formControlName="DateOfBirth" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label>Country</label>
          <div class="col-xs-12">
            <input class="form-control" formControlName="CountryName" />
          </div>
        </div>
        <div class="col-sm-6">
          <label>City/Town</label>
          <div class="col-xs-12">
            <input class="form-control" formControlName="City" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <label>Health List</label>
          <div class="row">
            <div class="col-md-6">
              <div class="form-control--custom">
                <ul class="list-group list-group-flush" *ngFor="let healthList of healthList; let i = index">
                  <li class="list-group-item disabled">{{healthList.Name}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <label>Status</label>
          <div class="row">
            <div class="col-sm-6">
              <input class="form-control" formControlName="Status" />
            </div>
            <div class="col-sm-3">
              <!-- <button class="btn btn-secondary btn--form">Resend</button> -->
            </div>
          </div>
        </div>

      </div>
      <div class="row row-custom row--flex-end">
        <button type="button" class="btn btn-default ripple" [disabled]="mentorIsBlocked" (click)="modalDelete.show()">Block</button>
        <button type="button" class="btn btn-danger ripple light" (click)="modalDownGrade.show()">Downgrade mentor</button>
      </div>
    </form>

  </div>
</div>
<!-- modal change password-->
<app-modal-basic #modalChangePassword>
  <div class="app-modal-header">
    <h4 class="modal-title">Change password</h4>
    <button type="button" class="close basic-close" (click)="modalChangePassword.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="container">
      <form class="form" [formGroup]="changePasswordForm">
        <div class="row">
          <label class="col-md-4 col-form-label">New password: </label>
          <div class="col-md-8">
            <div class="input-group">
              <input type="password" formControlName="password" class="form-control">
            </div>
            <p class="error-text" *ngIf="changePasswordForm.controls.password.touched && !changePasswordForm.controls.password.valid">This
              field is required.</p>
          </div>
        </div>
        <div class="row">
          <label class="col-md-4 col-form-label">Confirm new password: </label>
          <div class="col-md-8">
            <div class="input-group">
              <input type="password" class="form-control" formControlName="confirmPassword">
            </div>
            <p *ngIf="changePasswordForm.controls.confirmPassword.valid && changePasswordForm.errors?.mismatchedPassword"
              class="error-text">
              Passwords don't match
            </p>
            <p *ngIf="changePasswordForm.controls.confirmPassword.touched && !changePasswordForm.controls.confirmPassword.valid"
              class="error-text">
              Confirm password is required
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default ripple" (click)="modalChangePassword.hide()">Close</button>
    <button type="button" class="btn btn-danger ripple light" (click)="changePassword()" [disabled]="changePasswordForm.invalid || changePasswordForm.hasError('mismatchedPassWord')">Confirm</button>
  </div>
</app-modal-basic>

<app-modal-basic #modalDelete>
  <div class="app-modal-header">
    <h4 class="modal-title">Confirm</h4>
    <button type="button" class="close basic-close" (click)="modalDelete.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <p>Are you sure to block this mentor?</p>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-danger ripple light" (click)="blockMentor()">Yes</button>
    <button type="button" class="btn btn-default ripple" (click)="modalDelete.hide()">No</button>
  </div>
</app-modal-basic>
<app-modal-basic #modalDownGrade>
  <div class="app-modal-header">
    <h4 class="modal-title">Confirm</h4>
    <button type="button" class="close basic-close" (click)="modalDownGrade.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <p>Are you sure to downgrade this mentor?</p>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-danger ripple light" (click)="downGradeMentor()">Yes</button>
    <button type="button" class="btn btn-default ripple" (click)="modalDownGrade.hide()">No</button>
  </div>
</app-modal-basic>
<toast #toast></toast>