<div class="card-mentor-detail">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-12">
        <label>Name</label>
        <div class="row">
          <div class="col-sm-6">
            <input class="form-control" placeholder="First name"/>
          </div>
          <div class="col-sm-6">
            <input class="form-control" placeholder="Last name"/>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label>Email</label>
        <div class="col-xs-12">
          <input class="form-control" value="ngatdo@gmail.com" />
        </div>
      </div>
      <div class="col-sm-6">
        <label>Contact Number</label>
        <div class="col-xs-12">
          <input class="form-control" value="1234567890" />
        </div>
      </div>
    </div>
    <div class="row row-custom">
      <button class="btn btn-warning btn--form">Change password</button>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label>Gender</label>
        <div class="col-xs-12">
          <select class="form-control">
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <label>Date of Birth</label>
        <div class="col-xs-12">
          <input class="form-control"  />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label>Country</label>
        <div class="col-xs-12">
          <input class="form-control" value="Vietnam" />
        </div>
      </div>
      <div class="col-sm-6">
        <label>City/Town</label>
        <div class="col-xs-12">
          <input class="form-control" value="Hung Yen" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <label>Health List</label>
        <div class="row">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <label>Status</label>
        <div class="row">
          <div class="col-sm-9">
            <select class="form-control">
              <option>Active</option>
              <option>Inactive</option>
            </select>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-secondary btn--form">Resend</button>
          </div>
        </div>
      </div>

    </div>
    <div class="row row-custom row--flex-end">
      <button type="button" class="btn btn-default ripple">Block</button>
      <button type="button" class="btn btn-danger ripple light">Delete</button>
    </div>
  </div>
</div>
