<div class="card card--form card--user-info">
  <div class="container">
    <div class="heading-custom">User Detail</div>
    <form class="form">
      <div class="row">
        <div class="col-md-6">
          <label>Name</label>
          <div class="row">
              <div class="col-md-6">
                <input class="form-control" placeholder="First Name"/>
              </div>
              <div class="col-md-6">
                <input class="form-control" placeholder="Last Name"/>
              </div>
          </div>

          <label>Email</label>
          <div class="row">
            <div class="col-md-12">
              <input class="form-control" value="dongat2501@gmail.com"/>
            </div>
          </div>
          <label>Password</label>
          <div class="row">
            <div class="col-md-12"><button class="btn btn-secondary btn--form">Change password</button></div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Gender</label>
              <select class="form-control">
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
              </select>
            </div>
            <div class="col-md-6">
              <label>Date of Birth</label>
              <input class="form-control" type="date" placeholder="20/04/1998"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Country</label>
              <input class="form-control" type="text" placeholder="USA"/>
            </div>
            <div class="col-md-6">
              <label>City/Town</label>
              <input class="form-control" type="text" placeholder="Hanoi"/>
            </div>
          </div>
          <label>Health List</label>
          <div class="row">
            <div class="col-md-12">
              <div class="form-control form-control--custom">
                Heart condition<br/>
                Heart condition<br/>
                Heart condition<br/>
              </div>
            </div>
          </div>
          <label>Status</label>
          <div class="row">
            <div class="col-md-9">
              <div class="form-control">Invite Pending</div>
            </div>
            <div class="col-md-3">
              <button class="btn btn-secondary btn--form">Resend</button>
            </div>
          </div>
          <label>Mentor</label>
          <div class="row">
            <div class="col-md-9">
              <select class="form-control">
                <option>Mentor 1 (mentor1@yopmail.com)</option>
                <option>Mentor 2 (mentor2@yopmail.com)</option>
                <option>Mentor 3 (mentor3@yopmail.com)</option>
              </select>
            </div>
            <div class="col-md-3">
              <button class="btn btn-secondary btn--form">Assign</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row row--center">
           <div class="title">Current Round information</div>
            <button class="btn btn-warning btn--form">Wipe Data</button>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Start Date</label>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-control">30/10/2018</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label>Start Date</label>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-control">30/10/2018</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Start Weight</label>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-control">54kg</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label>Current Weight</label>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-control">45kg</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row--flex-end">
        <button class="btn btn-success">Save</button>
        <button class="btn btn-danger">Delete</button>
      </div>
    </form>
  </div>
</div>
