<div class="card card--form card--user-info">
  <div class="container">
    <div class="heading-custom">User Detail</div>
    <form class="form" [formGroup]="clientInfoForm">
      <div class="row">
        <div class="col-md-6">
          <label>Name</label>
          <div class="row">
            <div class="col-md-6">
              <input class="form-control" placeholder="First Name" formControlName="FirstName" />
              <p class="error-text" *ngIf="clientInfoForm.controls.FirstName.touched && !clientInfoForm.controls.FirstName.valid">This
                field is required.</p>
            </div>
            <div class="col-md-6">
              <input class="form-control" placeholder="Last Name" formControlName="SurName" />
              <p class="error-text" *ngIf="clientInfoForm.controls.SurName.touched && !clientInfoForm.controls.SurName.valid">This
                  field is required.</p>
            </div>
          </div>

          <label>Email</label>
          <div class="row">
            <div class="col-md-12">
              <input class="form-control" value="abc@gmail.com" formControlName="email" />
              <p class="error-text" *ngIf="clientInfoForm.hasError('email', 'email') && clientInfoForm.get('email').touched">This
                  field is email.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"><button class="btn btn-secondary btn--form">Change password</button></div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Gender</label>
              <select class="form-control" formControlName="Gender">
                <option [ngValue]="true">Male</option>
                <option [ngValue]="false">Female</option>
                <option [ngValue]="null">Other</option>
              </select>
            </div>
            <div class="col-md-6">
              <label>Date of Birth</label>
              <input class="form-control" type="date" formControlName="DateOfBirth" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Country</label>
              <input class="form-control" type="text" placeholder="Country" />
            </div>
            <div class="col-md-6">
              <label>City/Town</label>
              <input class="form-control" type="text" placeholder="Hanoi" formControlName="City" />
            </div>
          </div>
          <label>Health List</label>
          <div class="row">
            <div class="col-md-12">
              <div class="form-control form-control--custom">
                Heart condition<br />
                Heart condition<br />
                Heart condition<br />
              </div>
            </div>
          </div>
          <label>Status</label>
          <div class="row">
            <div class="col-md-9">
              <select formControlName="Status" class="form-control">
                <option value="active">Active</option>
                <option value="deactive">Inactivate</option>
                <option value="pending">Invite pending</option>
                <option value="connected">Connected</option>
                <option value="not-connected">Not Connected</option>
              </select>
            </div>
            <div class="col-md-3">
              <button class="btn btn-secondary btn--form">Resend</button>
            </div>
          </div>
          <label>Mentor</label>
          <div class="row">
            <div class="col-md-9">
              <ng-select class="select-custom" [options]="listMentor" formControlName="mentor" placeholder="select Mentor"></ng-select>
            </div>
            <div class="col-md-3">
              <button class="btn btn-secondary btn--form">Assign</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row row--center">
            <div class="title">Current Round information</div>
            <button class="btn btn-warning btn--form">Wipe Data</button>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Start Date</label>
              <div class="row">
                <div class="col-md-12">
                    <input class="form-control" type="date" formControlName="StartDate" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label>End Date</label>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-control">30/10/2018</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Start Weight</label>
              <div class="row">
                <div class="col-md-12">
                  <input class="form-control" type="text" placeholder="0" formControlName="StartWeight" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label>Current Weight</label>
              <div class="row">
                <div class="col-md-12">
                  <input class="form-control" type="text" placeholder="0" formControlName="CurrentWeight" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row--flex-end">
        <button class="btn btn-success">Save</button>
        <button class="btn btn-danger">Delete</button>
      </div>
    </form>
  </div>
</div>