<div class="card">
  <div class="card-block">
    <div class="card-header">
      <h5>List mentor error</h5>
    </div>
    <div class="content">
      <table class="table">
        <thead>
          <tr>
            <th>Email</th>
            <th>CustomerIdStripe</th>
            <th>SubscriptionId</th>
            <th>MeteredSubscriptionItemId</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mentor of listMentor">
            <td>{{mentor.Email}}</td>
            <td>{{mentor.CustomerIdStripe}}</td>
            <td>{{mentor.SubscriptionId}}</td>
            <td>{{mentor.MeteredSubscriptionItemId}}</td>
            <td><button class="btn btn-warning" (click)='showModalConfirm(mentor.Id)'>Upgrade</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-modal-basic #modalConfirm>
  <div class="app-modal-header">
    <h4 class="modal-title">Confirm</h4>
    <button type="button" class="close basic-close" (click)="modalConfirm.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <p>Are you sure upgrade this user ?</p>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default ripple" (click)="modalConfirm.hide()">Cancel </button>
    <button type="button" class="btn btn-danger ripple light" (click)="upgrade()">Confirm</button>
  </div>
</app-modal-basic>