<div class="col-md-12 card">
  <div class="card-round">
    <div class="card-header round-header">
      <h5>Round Information</h5>
      <div>User Time Zone: {{userTimeZone>=0?'+':'-'}}{{userTimeZone}}</div>
    </div>
    <div *ngFor="let r of rounds">
      <div class="card-block round-detail">
        <div>{{r.StartDate | formatTime:'UTCtoLocal':userTimeZone}} - {{r.EndDate | formatTime:'UTCtoLocal':userTimeZone}}</div>
        <div>{{r.Status}}</div>
        <div>Start Weight: {{r.StartWeight}}kg</div>
        <div>Target Weight: {{r.TargetWeight}}kg</div>
        <div><button class="btn btn-primary btn-outline-primary ripple light">Edit Round Detail</button> </div>
        <div><button class="btn btn-primary btn-outline-primary ripple light">Show Round Detail</button> </div>
      </div>
      <roud-detail-table [roundDetail]='r.RoundDetail' [userTimeZone]='userTimeZone' (onUpdateSuccess)="updateSuccess($event)"></roud-detail-table>
    </div>
  </div>

</div>

<!-- <div class="col-md-12 card">
  <div class="card-round">
    <div class="card-header">
      <h5>Measurement</h5>
    </div>
    <div class="card-block">
      <h5>Card with header</h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
    </div>
  </div>
</div> -->

<!-- <app-modal-basic #modalChangeRoundInfo>
  <div class="app-modal-header">
    <h4 class="modal-title">Change password</h4>
    <button type="button" class="close basic-close" (click)="modalChangePassword.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="container">
      <form class="form" [formGroup]="changeRoundInfoForm">
        <div class="row">
          <label class="col-md-4 col-form-label">New password: </label>
          <div class="col-md-8">
            <div class="input-group">
              <input type="password" formControlName="password" class="form-control">
            </div>
            <p class="error-text" *ngIf="changePasswordForm.controls.password.touched && !changePasswordForm.controls.password.valid">This
              field is required.</p>
          </div>
        </div>
        <div class="row">
          <label class="col-md-4 col-form-label">Confirm new password: </label>
          <div class="col-md-8">
            <div class="input-group">
              <input type="password" class="form-control" formControlName="confirmPassword">
            </div>
            <p *ngIf="changePasswordForm.controls.confirmPassword.valid && changePasswordForm.errors?.mismatchedPassword"
              class="error-text">
              Passwords don't match
            </p>
            <p *ngIf="changePasswordForm.controls.confirmPassword.touched && !changePasswordForm.controls.confirmPassword.valid"
              class="error-text">
              Confirm password is required
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default ripple" (click)="modalChangePassword.hide()">Close</button>
    <button type="button" class="btn btn-danger ripple light" (click)="changePassword()" [disabled]="changePasswordForm.invalid || changePasswordForm.hasError('mismatchedPassWord')">Confirm</button>
  </div>
</app-modal-basic> -->