<div class="col-md-12 card">
  <div class="card-round">
    <div class="card-header round-header">
      <h5>Round Information</h5>
    </div>
    <div class="card-block round-detail">
      <div>Apr 22 2019 - Apr 30 2019</div>
      <div>processing</div>
      <div>Start Weight: 50kg</div>
      <div>Target Weight: 60kg</div>
      <div><button class="btn btn-primary btn-outline-primary ripple light">Edit Round Detail</button> </div>
      <div><button class="btn btn-primary btn-outline-primary ripple light">Show Round Detail</button> </div>
    </div>
  </div>
</div>

<!-- <div class="col-md-12 card">
  <div class="card-round">
    <div class="card-header">
      <h5>Measurement</h5>
    </div>
    <div class="card-block">
      <h5>Card with header</h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
    </div>
  </div>
</div> -->