.card--coach-management {
    .col-flex {
        display: flex;
        border-bottom: 2px solid rgba(204, 204, 204, 0.29);
    }
    .col-detail {
        padding: 15px;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        border-right: 2px solid #fff;
        &:hover {
            background: rgba(204, 204, 204, 0.29);
        }
        &.col-active {
            background: rgba(204, 204, 204, 0.29);
        }
    }
}