<app-card>
  <div class="table-responsive">
    <table class="table table-xl">
      <thead>
        <tr>
          <th>#</th>
          <th>Chest</th>
          <th>Waist</th>
          <th>Hips   </th>
          <th>LeftArm</th>
          <th>RightArm</th>
          <th>LeftThigh</th>
          <th>RightThigh</th>
          <th>createdAt</th>
          <th><button class="btn btn-success" (click)="showAdd()">Add</button></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of measurements;let i = index;">
          <td scope="row">{{i + 1}}</td>
          <td><input type="text" class="form-control inline-edit" [(ngModel)]="m.Chest" [textMask]="{mask: maskNumber,guide:false}" [disabled]='!m.enable'>
          </td>
          <td><input type="text" class="form-control inline-edit" [(ngModel)]="m.Waist" [textMask]="{mask: maskNumber,guide:false}" [disabled]='!m.enable'>
          </td>
          <td><input type="text" class="form-control inline-edit" [(ngModel)]="m.Hips" [textMask]="{mask: maskNumber,guide:false}" [disabled]='!m.enable'>
          </td>
          <td><input type="text" class="form-control inline-edit" [(ngModel)]="m.LeftArm" [textMask]="{mask: maskNumber,guide:false}" [disabled]='!m.enable'>
          </td>
          <td><input type="text" class="form-control inline-edit" [(ngModel)]="m.RightArm" [textMask]="{mask: maskNumber,guide:false}" [disabled]='!m.enable'>
          </td>
          <td><input type="text" class="form-control inline-edit" [(ngModel)]="m.LeftThigh" [textMask]="{mask: maskNumber,guide:false}" [disabled]='!m.enable'>
          </td>
          <td><input type="text" class="form-control inline-edit" [(ngModel)]="m.RightThigh" [textMask]="{mask: maskNumber,guide:false}" [disabled]='!m.enable'>
          </td>
          <td>
            <input type="date" class="form-control inline-edit"
              [ngModel]="m.createdAt |formatTime:'UTCtoLocal':userTimeZone |date:'yyyy-MM-dd'"
              (ngModelChange)="m.createdAt = $event" [disabled]='!m.enable'>
          </td>
          <td>
            <button *ngIf="!m.enable" class="btn btn-warning" (click)="showEdit(i)">Edit</button>
            <button *ngIf="!m.enable" class="btn btn-danger" (click)="confirmDelete(i)">Remove</button>
            <button *ngIf="m.enable" class="btn btn-success" (click)="edit(i)">Save</button>
            <button *ngIf="m.enable" class="btn btn-danger" (click)="closeEdit(i)">Close</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</app-card>

<app-modal-basic #modalConfirmUpdate class="modal--confirm-update">
  <div class="app-modal-header modal--header">
    <button type="button" class="close basic-close" (click)="cancelUpdate()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body modal--body">
    <p>Are you sure change that?</p>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-warning ripple" (click)="cancelUpdate()">Close</button>
    <button type="button" class="btn btn-primary btn-outline-primary ripple light" (click)="update()">Update</button>
  </div>
</app-modal-basic>

<app-modal-basic #modalConfirmDelete class="modal--confirm-update">
  <div class="app-modal-header modal--header">
    <button type="button" class="close basic-close" (click)="cancelRemove()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body modal--body">
    <p>Are you sure remove that?</p>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-warning ripple" (click)="cancelRemove()">Close</button>
    <button type="button" class="btn btn-primary btn-outline-primary ripple light" (click)="delete()">Remove</button>
  </div>
</app-modal-basic>

<app-modal-basic #modalAddNew>
  <div class="app-modal-header">
    <h4 class="modal-title">Round Info</h4>
    <button type="button" class="close basic-close" (click)="modalAddNew.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="container">
      <form class="form" [formGroup]="addForm">
        <div class="row">
          <label class="col-md-4 col-form-label">Chest</label>
          <div class="col-md-8">
            <div class="input-group">
              <input type="number" formControlName="Chest" class="form-control">
            </div>
            <p class="error-text" *ngIf="addForm.controls.Chest.touched && !addForm.controls.Chest.valid">
              Start Weight must be > 0
            </p>
          </div>
        </div>
        <div class="row">
          <label class="col-md-4 col-form-label">Waist</label>
          <div class="col-md-8">
            <div class="input-group">
              <input type="number" formControlName="Waist" class="form-control">
            </div>
            <p class="error-text" *ngIf="addForm.controls.Waist.touched && !addForm.controls.Waist.valid">
              Start Weight must be > 0
            </p>
          </div>
        </div>
        <div class="row">
          <label class="col-md-4 col-form-label">Hips</label>
          <div class="col-md-8">
            <div class="input-group">
              <input type="number" formControlName="Hips" class="form-control">
            </div>
            <p class="error-text" *ngIf="addForm.controls.Hips.touched && !addForm.controls.Hips.valid">
              Start Weight must be > 0
            </p>
          </div>
        </div>
        <div class="row">
          <label class="col-md-4 col-form-label">LeftArm</label>
          <div class="col-md-8">
            <div class="input-group">
              <input type="number" formControlName="LeftArm" class="form-control">
            </div>
            <p class="error-text" *ngIf="addForm.controls.LeftArm.touched && !addForm.controls.LeftArm.valid">
              Start Weight must be > 0
            </p>
          </div>
        </div>
        <div class="row">
          <label class="col-md-4 col-form-label">RightArm</label>
          <div class="col-md-8">
            <div class="input-group">
              <input type="number" formControlName="RightArm" class="form-control">
            </div>
            <p class="error-text" *ngIf="addForm.controls.RightArm.touched && !addForm.controls.RightArm.valid">
              Start Weight must be > 0
            </p>
          </div>
        </div>
        <div class="row">
          <label class="col-md-4 col-form-label">LeftThigh</label>
          <div class="col-md-8">
            <div class="input-group">
              <input type="number" formControlName="LeftThigh" class="form-control">
            </div>
            <p class="error-text" *ngIf="addForm.controls.LeftThigh.touched && !addForm.controls.LeftThigh.valid">
              Start Weight must be > 0
            </p>
          </div>
        </div>
        <div class="row">
          <label class="col-md-4 col-form-label">RightThigh</label>
          <div class="col-md-8">
            <div class="input-group">
              <input type="number" formControlName="RightThigh" class="form-control">
            </div>
            <p class="error-text" *ngIf="addForm.controls.RightThigh.touched && !addForm.controls.RightThigh.valid">
              Start Weight must be > 0
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default ripple" (click)="modalAddNew.hide()">Close</button>
    <button type="button" class="btn btn-danger ripple light" [disabled]="addForm.invalid" (click)="addMeasurement()">Confirm</button>
  </div>
</app-modal-basic>