input {
  height: 31px;
}
.client .cursor{
  cursor: pointer;
}
.form-control {
  height: 32px;
  margin-left: 4px;
  border: 1px solid #cccccc;
  &:hover {
    border: 1px solid #cccccc;
  }
}

.col-md-2 {
  display: flex;
  align-items: center;
}

button.btn-header {
  min-width: 100px;
}

.margin-button {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.btn-custom {
  padding: 5px;
  margin: 5px;
  i {
    margin: 0;
  }
}

table.table-wrap-text {
  td {
    white-space: normal;
  }
}
.error-text{
  color: red ;
}
.email-compose {
  max-width: 600px;
  position: fixed;
  right: 5px;
  bottom: 0;
}
.col-right{
  margin-top: 5px;
  margin-bottom: 10px;
  float: right;
}

.app-modal-footer {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  button {
    min-width: 100px;
    margin: 0 5px;
  }
}
.form-add-client { 
  overflow-y: auto;
  max-height: 600px;
}
